<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.css" rel=stylesheet>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

  <title>TeenyApp - Login</title>

  <style>
    @media (min-width: 1200px) {
      .container {
        max-width: 500px;
      }
    }
  </style>
</head>

<body>

  <%- include('partials/_header') %>
  <section class="hero is-light is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">
        <p class="subtitle">
          TeenyApp is product of labor of love, built with ❤️ in beautiful toronto by <a
            href='https://github.com/letsandeepio'>Sandeep</a>.
          Sumitted as Project #1 for <a href='https://www.lighthouselabs.ca/'>Lighthouse Labs</a> Web Development
          Program.
        </p>
      </div>
    </div>
  </section>



</body>

</html>