<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.css" rel=stylesheet>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

  <title>TeenyApp - Error</title>
  <style>
    @media (min-width: 1200px) {
      .container {
        max-width: 500px;
      }
    }
  </style>
</head>

<body>

  <%- include('partials/_header') %>

  <section class="hero is-warning">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          No Can Do
        </h1>
        <h2 class="subtitle">
          Uh ho... TeenyApp is broken.<br> The server sent this response : <em><%= error %></em> Thats all I know.
        </h2>
      </div>
    </div>
  </section>

</body>

</html>