<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.css" rel=stylesheet>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

  <title>New URL - Register New User</title>
  <style>
    @media (min-width: 1200px) {
      .container {
        max-width: 500px;
      }
    }
  </style>
</head>

<body>

  <%- include('partials/_header') %>

  <section class="section">

    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="box">
          <h1 class='title'>Register New User </h1>
          <form action="/register" method='POST'>
            <label for="email" class='label'>Email:</label>
            <input type="email" class="input is-rounded" id="email" name='email' aria-describedby="emailHelp"
              placeholder="Enter email">
            <label for="password" class='label mt-2'>Password:</label>
            <input type="password" class="input is-rounded" id="password" name="password" placeholder="Password">
            <div class='has-text-centered'><button type="submit" class="button is-warning mt-4">Register</button></div>
          </form>
        </div>
      </div>
    </div>
  </section>

</body>

</html>