<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.css" rel=stylesheet>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

  <title>TeenyApp - Create New Short URL</title>
</head>

<body onload="reDirect();">

  <%- include('partials/_header') %>

  <% if(user){ %>

  <section class="section">
    <div class="columns is-centered">
      <div class="column is-half ">
        <div class="box px-6 py-6">
          <div class='title is-centered'>
            <h3></h3>Create TeenyURL</h3>
          </div>
          <form action="/urls" method="POST">
            <label for="longURL" class='label'>Enter a URL to shorten it!</label>
            <div class="field has-addons">
              <div class="control">
                <input class="input is-expanded" size=50 type="text" name="longURL" placeholder="http://" required>
              </div>
              <div class="control">
                <button type="submit" class="button is-success">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>


  <% } else{ %>
  <section class='section'>
    <div class="notification is-warning">
      You must be logged in to create a new short URL. Redirecting to login page...
    </div>
  </section>
  <% } %>


  <script>
    function reDirect() {
      let user = "<%= user %>"
      if (!user) {
        window.setTimeout(function() {
          window.location.href = "/login"
        }, 2000)
      }
    }
  </script>

</body>

</html>